.presentation_marpa{
    .texte_pres_marpa{
        text-align: center;
        max-width: 1000px;
        margin: auto;
        p{
            padding:20px 0;
        }
        h2{
            font-weight: 700;
        }
    }
}

.carrousel_texte_pres_marpa{
    display: flex;
    flex-direction: row;
    .carrousel_pres_marpa{
        flex-grow: 1;
        flex-basis:50%;
        position:relative;
    }
    .slider{
        position:sticky;
        top:0;
        left:0;
        padding-top:100px;
    }
    .myslide{
        display: none;
        overflow: hidden;
        img{
            width:100%;
            height:auto;
            animation: scale 40s;
        }
        @keyframes scale {
            from {
                transform: scale(1, 1);
            } 
            to {
                transform: scale(1.5, 1.5);
            }
        }
    }
    .prev, 
    .next{
        position: absolute;
        top:54%;
        font-size:2em;
        padding:0 15px;
        cursor: pointer;
        color: $primary;
        transition: 0.3s ease-in-out;
        user-select: none;
        &:hover{
            color: $secondary;
        }
    }
    .next{
        right: 0;
    }
    .dotsbox{
        position: absolute;
        left:0;
        width:100%;
        bottom:10px;
        cursor: pointer;
        text-align: center;
        .dot{
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 3px solid $primary;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }
        .active, .dot:hover{
            border-color: $secondary;
        }
    }
    .pres_marpa{
        flex-grow: 1;
        flex-basis:50%;
        padding:100px 0 0 100px;
        h3{
            padding:2em 0 0.5em 0;
            font-style: italic;
            color:$primary;
        }
        a{  
            margin-top:20px;
        }
        img{
            height:100px;
            width:auto;
            margin-top:20px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .carrousel_texte_pres_marpa{
        flex-direction: column;
        .pres_marpa{
            padding:50px 0 0 0px;
        }
    }
}

@media only screen and (max-width: 576px) {   
    .carrousel_texte_pres_marpa{
        .prev, 
        .next{
            top:56%;
            font-size:1.5em;
        }
        .dotsbox{
            bottom:5px;
            .dot{
                width: 12px;
                height: 12px;
                margin: 0 3px;
            }
        }
    }
}

@media only screen and (max-width: 400px) {   
    .carrousel_texte_pres_marpa{
        .prev, 
        .next{
            top:58%;
        }
    }
}

@media only screen and (max-width: 300px) {   
    .carrousel_texte_pres_marpa{
        .prev, 
        .next{
            top:60%;
        }
    }
}