.slide_texte_pres_logement{
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    .slide_pres_logement{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;
        position: relative;
        img{
            width:100%;
            height:auto;
            animation: fade .3s;
            cursor: pointer;
        }
        @keyframes fade {
            from {
                opacity: .7
            } 
            to {
                opacity: 1
            }
        }
        .prev, 
        .next{
            position: absolute;
            top:37.5%;
            font-size:2em;
            padding:0 15px;
            cursor: pointer;
            color: $primary;
            transition: 0.3s ease-in-out;
            user-select: none;
            &:hover{
                color: $secondary;
            }
        }
        .next{
            right: 0;
        }
    }
    .modal_image{
        position: fixed;
        top:-100%;
        left:0;
        z-index: 9999;
        visibility: hidden;
        height:100vh;
        width:100%;
        background: rgba(0,0,0,0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        div img{
            width:100%;
            height:auto;
            max-height:100vh;
        }
        .close_modal_image{
            position:absolute;
            z-index: 9999;
            right:25px;
            top:25px;
            .close{
                position: relative;
                width:50px;
                height:50px;
                transition:0.3s ease-in-out;
                span{
                    border:1px solid $primary;
                    width:50px;
                    position: absolute;
                    right:0px;
                    transition:0.3s ease-in-out;
                }
                span:first-child{
                    transform: rotate(-45deg);
                }
                span:last-child{
                    transform: rotate(45deg);
                }
            }
            .close:hover{
                transform: rotate(180deg);
            }
            .close:hover span{
                border:1px solid $secondary;
            }
        }
    }
    .select_image_slide{
        display: flex;
        overflow-x: auto;
        .select_image{
            width:20%;
            padding: 10px 0 0 10px;
            opacity:0.6;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:first-child{
                padding: 10px 0 0 0;
            }
            img{
                height:100%;
                width:100%;
                object-fit: cover;
            }
            .dot{
                display: none;
                width: 15px;
                height: 15px;
                border: 3px solid $primary;
                border-radius: 50%;
                margin: 0 5px;
                cursor: pointer;
                transition: 0.3s ease-in-out;
            }
        }
        .active,
        .select_image:hover{
            opacity:1;
        }
    }
    .texte_pres_logement{
        flex-grow: 1;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0 0 0 50px;
        h3{
            padding:0 0 0.5em 0;
            font-style: italic;
            color:$primary;
        }
    }
}
.select_image_slide::-webkit-scrollbar {
    height:8px;
}

@media only screen and (max-width: 992px) {
	.slide_texte_pres_logement{
        flex-direction: column;
        margin-top: 50px;
        .modal_image{
            .close_modal_image{
                right:15px;
                top:15px;
            }
        }
        .slide_pres_logement{
            .prev, 
            .next{
                top:45%;
                font-size:1.5em;
            }
        }
        .select_image_slide{
            justify-content: center;
            .select_image{
                opacity: 1;
                width: auto;
                img{
                    display: none;
                }
                .dot{
                    display: inline-block;
                }
            }     
            .active .dot,
            .select_image:hover .dot{
                border: 3px solid $secondary;
            }     
        }
        .texte_pres_logement{
            justify-content: start;
            align-items:flex-start;
            padding:50px 0 0 0;
        }
    }
}

@media only screen and (max-width: 576px) {
    .slide_texte_pres_logement{
        .slide_pres_logement{
            .prev, 
            .next{
                top:40%;
            }
        }
        .select_image_slide{
            .select_image{
                .dot{
                    width: 12px;
                    height: 12px;
                    margin: 0 3px;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .slide_texte_pres_logement{
        .slide_pres_logement{
            .prev, 
            .next{
                top:35%;
            }
        }
    }
}